// 文字基本颜色
.fu-color-000000 {
	color: $text-color-000000;
}

.fu-color-333333 {
	color: $text-color-333333;
}

.fu-color-999999 {
	color: $text-color-999999;
}

.fu-color-b1b1b1 {
	color: $text-color-b1b1b1;
}

/* 边框颜色 */
.fu-border {
	border: 0.5rpx solid $border-626264;
}

// 背景颜色
.fu-bg-main {
	background-color: $bg-color-ffffff;
}

.fu-bg-ffffff {
	background-color: $bg-color;
}

.fu-bg-222222 {
	background-color: $text-color-222222;
}