$fu-primary: #2979ff;
$fu-primary-dark: #1a5fd9;
$fu-primary-disabled: #7ab1ff;
$fu-primary-light: #d0e3ff;

$fu-warning: #fcb03d;
$fu-warning-dark: #e09a35;
$fu-warning-disabled: #fdd58e;
$fu-warning-light: #fef2e0;

$fu-success: #5fd126;
$fu-success-dark: #4fb020;
$fu-success-disabled: #a8e88a;
$fu-success-light: #e8f8e1;

$fu-error: #f86d6d;
$fu-error-dark: #e05c5c;
$fu-error-disabled: #fcb3b3;
$fu-error-light: #fee8e8;

$fu-info: #9ca0a6;
$fu-info-dark: #7e8288;
$fu-info-disabled: #d0d2d5;
$fu-info-light: #f2f3f4;